@charset "utf-8";

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/* ーーーーーーーーーーーーーーーーーーーここから記述ーーーーーーーーーーーーーーーーーーーー */

.header {
  height: 55px;
  background: #000;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.header-logo {
  margin-top: -8px;
  align-content: center;
  font-size: 17px;
  font-weight: bold;
  margin-left: 35px;
  color: #f2f2f2;
  line-height: 70px;
}

.header-nav ul {
  text-decoration: none;
  display: flex;
}

.header-nav li {
  margin-right: 30px;
  font-size: 14px;

}

.header-nav a {
  text-decoration: none;
  color: #f2f2f2;
}

#eyecatch {
  height: 830px;
  background: url("./eyecatch.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

#eyecatch .eyecatch-title {
  position: absolute;
  top: 60%;
  left: 10%;

  font-size: 50px;
  font-style: italic;
  font-weight: bold;
  color: #fff;
  line-height: 1;
}

.eyecatch-wrap {
  display: flex;
  padding-left: 50%;
  margin-bottom: 0;
  margin-right: 0;
  padding-top: 46%;
  height: 65px;
  font-size: 14px;
}

.eyecatch-wrap .wrap-left {
  background-color: #fff;
  color: #000;
  width: 700px;
  justify-content: flex-end;
  padding: 5px;
}
.eyecatch-wrap .wrap-left li {
  list-style: none;
  padding: 5px;
}

.eyecatch-wrap .wrap-right {
  background-color: black;
  color: #f2f2f2;
  width: 170px;
}

.eyecatch-wrap .wrap-right p {
  text-align: center;
  margin-top: 17%;
  font-size: 14px;
  
}

#mission {
  height: 530px;
  background-color: #000;
}

.mission-concept {
  z-index: 20;
  position: relative;
  width: 1000px;
  height: 300px;
  padding-top: 170px;
  padding-left: 370px;
}

#mission h2 {
  color: #fff;
  font-size: 26px;
  font-weight: bold;
}

#mission p {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  padding: 30px 0;
  line-height: 1.8em;
}

#mission .button {
  width: 140px;
  height: 40px;
  text-align: center;
  font-weight: normal;
  font-size: 14px;
}

#mission img {
  z-index: 10;
  position: absolute;
  top: 1015px;
  left: 960px;
}

#service {
  margin-top: 130px;
  background-color: lightgray;
  height: 1600px;
}

.service2-title {
  text-align: center;
  font-size: 30px;
  padding-top: 20px;
}

.service2-wrap {
  position: relative;
  display: block;
  z-index: 11;
  width: 700px;
  height: 330px;
  background-color: #fff;
  margin-left: 300px;
  margin-top: -720px;
}

.service2-text {
  z-index: 9;
  position: relative;
  font-size: 14px;
  text-align: left;
  padding-top: 45px;
  padding-left: 80px;
  margin-top: 300px;
}

.service2-h3 {
  font-size: 14px;
  position: relative;
  z-index: 8;
  padding: 20px 0;
}

.service2-text p {
  position: relative;
  z-index: 7;
  padding: 6px 0;
  line-height: 1.6;
}

#service .button {
  position: relative;
  width: 170px;
  height: 38px;
  margin-left: 350px;
  background-color: #fff;
  border: 0.2px solid #000;
  font-size: 15px;
}

.service2-img {
  z-index: 5;

  margin-top: 20px;
  margin-left: 840px;
}

.service1 {
  margin-top: 300px;
  display: flex;
}

.service1-img {
}



.service1-wrap {
  display: block;
  position: relative;
  top: 100px;
  left: -150px;
  width: 680px;
  height: 365px;
  background-color: #fff;
}

.service1-text {
  position: relative;
  font-size: 14px;
  text-align: left;
  padding-top: 65px;
  padding-left: 80px;
}

.service1-h3 {
  font-size: 13px;
  padding: 20px 0;
}

.service1-text p {
  padding: 5px 0;
  line-height: 2;
}

#company {
  height: 600px;
  background-color: #fff;
  margin-bottom: 200px;
}

.company-wrap {
  display: flex;
  padding-top: 200px;
  justify-content: space-between;
}

.company-left {
  position: relative;
}

.company-left-img {
}

.company-left-text {
  position: absolute;
  top: 100px;
  left: 320px;
  color: #fff;

}
.company-left-h3 {
  font-size: 35px;
}

.company-left-text p {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  padding-top: 15px;
}
.company-right {
  position: relative;
  display: inline-block;
}

.company-right-img {

}

.company-right-text {
  position: absolute;
  top: 100px;
  left: 320px;
  color: #fff;
}

.company-right-h3 {
  font-size: 35px;
}

.company-right-text p {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  padding-top: 15px;
}

.company-bottom {
 display: flex;
 text-align: center;
 background-color: black;
 align-items: center;
 color: #fff;
 width: 75%;
 height: 130px;
 margin: 0 auto;
 margin-top: 150px;
 margin-bottom: 150px;
}

.FAQ {
  font-size: 33px;
  margin-left: 50px;

}

.company-bottom-nav-list a {
  text-decoration: none;
  color: #fff;
}

.company-bottom-nav-item {
  padding-left: 450px;
  font-size: 18px;
}

#contact {
  margin-top: 300px;
  height: 630px;
  background: url("contact-bgのコピー.jpg") no-repeat;
  background-size: cover;
  position: relative;
  color: #fff;
  text-align: center;
}

.contact-title {
  padding-top: 150px;
}

.contact-title h2 {
  font-size: 37px;
}

.contact-title p {
  padding-top: 15px;
  font-size: 18px;
  font-weight: bold;
}

.contact-title-2 h3 {
  font-size: 35px;
  padding-top: 35px;
  padding-bottom: 35px;
  font-weight: normal;
}

.contact-title-2 p {
  padding-top: 15px;
  font-size: 15px;
}

#contact .button {
  width: 160px;
  height: 40px;
  font-size: 15px;
  margin-top: 40px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}



.footer {
  height: 90px;
  background: #000;
  text-align: center;
}

.footer-wrap {
  background-color: #000;
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.footer-logo {
  margin-top: ;
  align-content: center;
  font-size: 18px;
  font-weight: bold;
  margin-left: 35px;
  color: #f2f2f2;
  line-height: 70px;
}

.footer-nav ul {
  text-decoration: none;
  display: flex;
}

.footer-nav li {
  margin-right: 30px;
  font-size: 14px;
  font-weight: bold;

}

.footer-nav a {
  text-decoration: none;
  color: #f2f2f2;
}

.copyright {
  position: relative;
  background-color: #000;
  color: #fff;
  font-size: 14px;

}